@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Northern Michigan Microbreweries</h1>
    <p class="lead">The source for information on microbreweries in the Norther Lower Peninsula of Michigan.</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Featuring Local Brewery Info</h2>
        <ul>
            <li>Names</li>
            <li>Locations</li>
            <li>Styles of Beer</li>
        </ul>
        <p><a class="btn btn-default" href="breweries">Get Brewery Info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <h4>Empire Brew Fest</h4>
        <p>
            July 14th - 15th
            <br>
            Empire, Michigan</p>
    </div>

</div>