@{
    ViewBag.Title = "Breweries";
}

<h2>Breweries</h2>

<br />

<a href="Breweries/ShowList">Click here to show a list of breweries.</a>

<br />

<a href="Breweries/ShowTable">Click here to show a table of breweries.</a>
