@model Demo_NMM.Basic.Models.Brewery

@{
    ViewBag.Title = "Delete Brewery";
}

<h2>Delete Brewery</h2>

<p>You are about to delete the following brewery. Click <strong>Delete</strong> or <strong>Cancel</strong>.</p>


