<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  <!-- This key is for Application Insights resource 'Demo_NMM.Basic' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>29d3cdc0-0639-4cd2-bcc7-e71cf609c4b3</InstrumentationKey>
</ApplicationInsights>