@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<br />  

<address>
    Northern Michigan Microbreweries <br />
    101 Hoppy Lane <br />
    Empire, MI 49630 <br /> 
    231.555.5555
</address>

<br />  